<head>
  <title>Checkout canceled</title>

  <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script>
    const params = new URLSearchParams(window.location.search)
    const id =params.get('session_id');

    $.ajax({
          type: 'post',
          url: '/update-checkout',
          data: {transactionID: id},
          dataType: 'text'
      })
  </script>
</head>
<body>
  <section>
    <p>Forgot to add something to your cart? Shop around then come back to pay!</p>
  </section>
</body>
</html>