<!DOCTYPE html>
<html>
  <head>
    <title>Buy cool new product</title>

    <%- include(head)%>

    <!-- Stripe -->
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>

    <script type="text/javascript" src="/js/payment.js"></script>
  </head>
  <body>
    <section class="d-flex bg-peachpuff justify-content-center align-items-center container-smp" style="min-height: 100vh; min-width: 100vw;">
      <div class="card  text-center shadow rounded bg-white m-3">
        <img class="card-img-top mx-auto" style="max-width: 300px;" src="https://cdn3.volusion.com/9nxdj.fchy5/v/vspfiles/photos/DG-332-2.jpg?v-cache=1602075128" alt="Product">
        <div class="card-body">
          <h4 class="card-title">Product</h4>
          <h5 class="card-title">$10.99</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita dolore quam quod in sequi tempore quos commodi sint exercitationem repellendus.</p>
          <button id="buy-button" class="btn btn-primary">Buy</button>
        </div>
      </div>
    </section>
  </body>
</html>
