<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search</title>

  <%- include(head)%>

  <script type="text/javascript" src="/js/search.js"></script>

  <!-- JQuery Validate -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js" integrity="sha512-UdIMMlVx0HEynClOIFSyOrPggomfhBKJE28LKl8yR3ghkgugPnG6iLfRfHwushZl1MOPSY6TsuBDGPK2X4zYKg==" crossorigin="anonymous"></script>
</head>

<body class="bg-peachpuff">
  <main class="d-flex flex-column justify-content-center align-items-center">
    <div class="container-smp text-center shadow rounded bg-white">
      <form id="product-form" class="m-3">
        <h4>Search Product</h4>
        <div class="form-group">
          <label for="productID">ID</label>
          <input type="text" class="form-control" id="productID" name="productID" placeholder="Enter ID product">
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
      </form>
    </div>

    <h3 class="mx-auto my3">or</h3>

  </main>

  <section>
    <form id="actualProduct" class="card mx-auto my-3 container">      
    <h4 class="mx-auto mt-2">Register New Product</h4>

      <div id="product_info" class="card-body">
        <h5 class="mr-1">Name: <input type="text" class="edit_input" name="actualProduct_name" id="actualProduct_name"></input></h5> 
        <h6 class="mr-1">Price: $<input type="number" class="edit_input" name="actualProduct_price" id="actualProduct_price"></input></h6> 
        <p class="m-0">Description:</p>
        <input name="actualProduct_description"type="text" id="actualProduct_description" class="m-0 edit_input w-100"></input>
      </div>
      <div class="d-flex justify-content-around">
        <button type="submit" id="edit_submit" class="btn btn-primary m-2 w-100">Register</button>
      </div>
    </form>
  </section>
</body>
</html>